/*------------------------------------------------------------------
Default theme  Stylesheet
-------------------------------------------------------------------*/
html::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #000
}

html::-webkit-scrollbar {
	width: 6px;
	background-color: #000
}

html::-webkit-scrollbar-thumb {
	background-color: #eb9191
}

iframe {
	border: 0
}

.game-icn:hover>:not(.game-txt) {
	filter: blur(2.2px);
	-webkit-filter: blur(2.2px);
}

.game-icn:hover {
	-ms-transform: scale(1.12);
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
	z-index: 999;
        position: relative;
}
img.game-img {
	width: 140px;
	height: 140px;
}

.game-icn {
	position: relative;
	padding: 0;
	width: 140px;
	height: 140px;
	display: block;
	cursor: pointer;
	overflow: hidden;
	transition: transform .22s;
	border-radius: 26px;
	margin: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.game-txt .game-name {
	opacity: 0;
	font-size: 12px;
	font-family: Sansita, sans-serif;
	text-shadow: 2px 2px 40px #000;
	position: absolute;
	padding-top: 60px;
	top: 0;
	left: 0;
	color: #fff;
	background-color: rgba(0, 0, 0, .4);
	width: 140px;
	height: 140px;
	text-align: center;
	z-index: 999;
	filter: blur(0) !important;
	-webkit-filter: blur(0) !important;
}

.game-icn .game-txt:hover .game-name:hover {
	opacity: 1 !important;
}

#tb-preloader {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	background: #fff
}

.tb-preloader-wave {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px
}

.tb-preloader-wave:after,
.tb-preloader-wave:before {
	position: absolute;
	display: inline-block;
	width: 60px;
	height: 60px;
	content: "";
	-webkit-animation: preloader-wave 1.6s linear infinite;
	animation: preloader-wave 1.6s linear infinite;
	border-radius: 50%;
	background: #222
}

.tb-preloader-wave:after {
	-webkit-animation-delay: -.8s;
	animation-delay: -.8s
}

@-webkit-keyframes preloader-wave {
	0% {
		-webkit-transform: scale(0, 0);
		transform: scale(0, 0);
		opacity: .5
	}
	100% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 0
	}
}

@keyframes preloader-wave {
	0% {
		-webkit-transform: scale(0, 0);
		transform: scale(0, 0);
		opacity: .5
	}
	100% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
		opacity: 0
	}
}

::-moz-selection {
    color: #fff;
    background: #000
    text-shadow: none;
}
::selection {
    color: #fff;
    background: #000;
    text-shadow: none;
}

::-moz-selection {
    /* Firefox */
    color: #fff;
    background: #000;
    text-shadow: none;
}

::-webkit-selection {
    /* Safari */
    color: #fff;
    background: #000;
    text-shadow: none;
}

a,
.menuzord-menu > li.active > a,
.menuzord-menu > li:hover > a,
.portfolio-with-title .portfolio-title h4 a:hover,
.f-link:hover,
#footer .f-list li a:hover,
.featured-item.border-box:hover .icon i,
.post-single .post-cat li a:hover,
.post-single .post-desk h4 a:hover,
.post-single .post-desk a.author:hover,
.post-list .post-single .post-cat li a,
.portfolio-description a:hover,
.portfolio-title a:hover,
.post-sub-title,
.team-member .s-link a:hover,
.t-s-link a:hover,
.price-col.feature h1,
.widget-category li a:hover,
.widget-comments li a:hover,
.blog-classic .blog-post h4 a:hover,
.post-meta li a:hover,
.widget-latest-post .w-desk a:hover,
.comments-list .comment-author a:hover,
.comments-list .comment-item-data a:hover,
.product-title h5 a:hover,
.comments-list .comment-info a:hover,
.portfolio-with-title.blog-m .portfolio-title .date a:hover,
.comments-list .comment-info .comment-author a:hover,
.icon-tabs .nav-pills > li > a:hover,
.icon-tabs .nav-pills > li.active > a,
.icon-tabs .nav-pills > li.active > a:focus,
.icon-tabs .nav-pills > li.active > a:hover,
.cd-nav .cd-primary-nav li.selected a,
.no-touch .cd-nav .cd-primary-nav a:hover,
.intro-portfolio a:hover {
    color: #eb9191;
}

.theme-color {
    color: #eb9191 !important;
}

.theme-bg,
.massive-progress.progress-theme-color .progress-bar,
.massive-progress-alt.progress-theme-color .progress-bar,
.ei-slider-thumbs li.ei-slider-element,
.massive-progress.progress-theme-color .progress-bar > span,
.massive-progress.progress-theme-color .progress-bar > span:before {
    background: #eb9191 !important;
}

.massive-progress.progress-theme-color .progress-bar > span:before {
    border-color: #eb9191;
}

.btn-theme-border-color,
.widget-social-link a:hover,
.widget-tags a:hover {
    border: 1px solid #eb9191;
}

.icon-tabs .nav-pills > li > a:hover,
.icon-tabs .nav-pills > li.active > a,
.icon-tabs .nav-pills > li.active > a:focus,
.icon-tabs .nav-pills > li.active > a:hover {
    border-bottom: 1px solid #eb9191;
}

.btn-theme-border-color:hover,
.price-col.feature .p-btn:hover,
.side-social-link a:hover,
.massive-progress.progress-theme-color .progress-bar > span:before {
    border: 1px solid #eb9191;
}

.accordion.time-line > dt > a:hover:after,
.accordion.time-line > dt > a.active:after,
.accordion.time-line > dt > a.active:hover:after,
.toggle.time-line > dt > a:hover:after,
.toggle.time-line > dt > a.active:after,
.toggle.time-line > dt > a.active:hover:after,
.btn-dark-solid:hover,
.btn-dark-solid:focus,
.btn-theme-color,
.btn-theme-border-color:hover,
.btn-light-solid:hover,
.feature-border-box:hover .icon,
.price-col.feature .p-btn:hover,
.side-social-link a:hover,
.widget-social-link a:hover,
.widget-tags a:hover,
.sale-label,
.stock .status,
.lift-off:hover,
.menuzord-menu ul.dropdown li:hover > a,
.menuzord-menu > li > .megamenu .megamenu-row li:hover a,
.travel-form.icon-tabs .nav-pills > li > a:hover,
.travel-form.icon-tabs .nav-pills > li.active:hover > a,
.travel-form.icon-tabs .nav-pills > li.active > a,
.travel-form.icon-tabs .nav-pills > li.active > a:focus {
    background: #eb9191;
}

.menuzord .menuzord-menu ul.dropdown li:hover > a,
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a {
    color: #fff;
}

nav { 
    font-size: 12.8px;
}



@media (min-width: 768px) {
    .c-nav_s-underline.menuzord-menu > li.active > a,
    .c-nav_s-underline.menuzord-menu > li:hover > a {
        border-bottom: 1px solid #eb9191;
    }
    .c-nav_s-outline.menuzord-menu > li.active > a,
    .c-nav_s-outline.menuzord-menu > li:hover > a {
        border: 1px solid #eb9191;
    }
    .c-nav_s-bg.menuzord-menu > li.active > a,
    .c-nav_s-bg.menuzord-menu > li:hover > a {
        background: #eb9191;
    }
}
